/******** NAVBAR GLOBAL CSS - START *********/
  /* NAVBAR LOGO CONTAINER CSS - START - this is the navbar brand logo container*/
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

  img.navbar-brand-logo { 
    max-width: 100%; /* 100% of navbar-brand width*/
    display: block;
  }

  .nav-link {
    text-shadow: 2px 2px 4px red;
  }
  
  .nav-link:hover {
    background-color: var(--hover-bg-color);
    border-radius: var(--round-corners);
    box-shadow: var(--btn-shadow);
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    text-shadow: 2px 2px 4px black;
    vertical-align: bottom;
  }

  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  /* NAVBAR LOGO CONTAINER CSS - END - this is the navbar brand logo container*/
  /******** NAVBAR GLOBAL CSS - START *********/
  
li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
/*
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: var(--hover-bg-color);
    border-radius: var(--round-corners);
    box-shadow: var(--btn-shadow);
    text-shadow: 2px 2px 4px black;
    vertical-align: bottom;
}
*/

/* Keep the nav menu independent of scrolling and on top of other items */

@media (max-width: 767px) {
    .main-nav {
        position: sticky;
        margin-left: 0px;
        padding: 0px;
        text-align: left;
        float: left;
    }
    .navbar-toggle{
        position: fixed;
        background-color: red;
        bottom: 0;
        right: 0;
    }
    .navbar {
        position: sticky;
    }

    .navbar-brand {
        height: 0%;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .main-nav {
        height: 100%;
        width: calc(16.667% - 0px);  /* This sets the navbar width equivelant to the column settings in app.component.html bootstrap grid.  Default setting is 2 and 10 columns so 2/12 = 16.667% */
        display: block;
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
        display: block;
        
    }
    .navbar-header {
        float: none;
        display: block;
        
    }
    .navbar-brand {
        height: 100%;
        width: 100vw;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
        display: block;
    }
    .navbar ul {
        float: none;
        display:  block;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
        display: block;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
        display: block;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
}

  

  