body {
    background-color: var(--bodybg-color);
    color: var(--bodytext-color);
  }

  h1 {
    font-size: var(--h1-size);
    font-family: var(--h1-font-famiily);
    text-shadow: var(--h1-shadow);
  }